* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, Arial;
    background: #f8fafc;
    display: flex;
}

/* ======== LAYOUT PRINCIPAL ======== */
.layout {
    display: flex;
    width: 100%;
}

/* ======== SIDEBAR ======== */
.sidebar {
    width: 260px;
    background: #1b7f4d;
    min-height: 100vh;
    padding: 25px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 35px;
}

.sidebar nav a {
    display: block;
    color: #e2e8f0;
    padding: 12px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 8px;
    transition: .2s;
    font-weight: 500;
}

.sidebar nav a:hover,
.sidebar nav a.active {
    background: #34d399;
    color: #0f172a;
}

.sidebar .logout {
    margin-top: 20px;
    background: #dc2626 !important;
    color: white !important;
}

/* ======== CONTEÚDO ======== */
.content {
    margin-left: 260px;
    width: calc(100% - 260px);
    padding: 30px;
}

/* ======== TOPO DO CONTEÚDO ======== */
.topbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.user-info strong {
    font-size: 18px;
    color: #1b7f4d;
}

.user-info small {
    font-size: 13px;
    color: #6b7280;
}